*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xm/l
node_modules/
functions/node_modules/
/.idea/assetWizardSettings.xml
.DS_Store
.firebaserc
/build
/functions
.externalNativeBuild
.cxx
local.properties
