# Default ignored files
/shelf/
/workspace.xml
# IDE
.idea/
*.iml
*.iws
*.ipr

# Build outputs
build/
*/build/

# Gradle
.gradle/
local.properties

# OS files
.DS_Store

node_modules/
functions/node_modules/
